/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


.loader {
  width: 48px;
  height: 48px;
  display: flex;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  margin: 0 auto;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #00ff11;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #FF3D00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }
}




.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 32px;
}


.gallery-img {
  width: 360px;
  height: 152px;
  object-fit: cover;

}

.gallery-item {
  border: 1px solid black;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.form {
  display: flex;
  margin: 0 auto;
  width: 400px;
  margin-bottom: 32px;
  padding-top: 36px;
}

.search-input {
  width: 272px;
  height: 36px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-right: 8px;
}

.form-btn {
  width: 91px;
  border: none;
  background-color: #4E75FF;
  height: 40px;
  color: #fff;
  border-radius: 8px;


}

.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  border: none;
  background-color: #4E75FF;
  height: 40px;
  color: #fff;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 20px;
}


.hidden {
  display: none;
}
